@import 'variables.less';

@header-size: 75px;
@header-padding: @header-size + 20px;

#container {
    margin: auto;
}

header {
    height: @header-size;
    padding-left: @header-padding;
    background: url('../img/travis.png') no-repeat;
}

#content {
    clear: both;
}

ul.tips {
    list-style: circle;

    li {
        font-size: @font-size - 2px;
    }
}
